<div data-role="view" data-title="View" data-layout="main-nonav" data-model="app.forgotPasswordView" data-show="app.forgotPasswordView.onShow" data-after-show="app.forgotPasswordView.afterShow" id="forgotPasswordViewScreen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text">

            <span data-bind="text: strings.forgotPasswordView.title"></span>

        </div>
    </header>


    <!-- START_CUSTOM_CODE_forgotPasswordView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_forgotPasswordView -->
</div>