<div data-role="view" data-title="View" data-layout="main-nonav" data-model="app.createUserView" data-show="app.createUserView.onShow" data-after-show="app.createUserView.afterShow" id="createUserViewScreen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text">

            <span data-bind="text: strings.createUserView.title"></span>

        </div>
    </header>


    <!-- START_CUSTOM_CODE_createUserView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <form>
        <ul data-role="listview" data-style="inset">
            <li>
                <label>
                    Email Address:
                    <input type="email" name="email" data-bind="value: email">
                </label>
            </li>
            <li>
                <label>
                    Username:
                    <input type="text" name="username" data-bind="value: username" autocapitalize="none">
                </label>
            </li>
            <li>
                <label>
                    Password:
                    <input type="password" name="password" data-bind="value: password">
                </label>
            </li>
            <li>
                <button style="width: 100%" data-role="button" data-bind="click: createUserViewModel.submit">Register</button>
            </li>
        </ul>
    </form>
    <script>
        $('div[data-role="navbar"]').append('<a data-role="button" id="leftNavBarBtn" style="margin: 0px" data-align="left" data-icon="reply" data-bind="click: createUserViewModel.goBack"></a>');
    </script>
    <!-- END_CUSTOM_CODE_createUserView -->
</div>