<div data-role="view" data-title="View" data-layout="main-nonav" data-model="app.addExpenseView" data-show="app.addExpenseView.onShow" data-after-show="app.addExpenseView.afterShow" id="addExpenseViewScreen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text">

            <span data-bind="text: strings.addExpenseView.title"></span>

        </div>
    </header>


    <!-- START_CUSTOM_CODE_addExpenseView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_addExpenseView -->
</div>