#loginViewScreen form button,
#createUserViewScreen form button,
#forgotPasswordViewScreen form button,
#addExpenseViewScreen form button,
#editExpenseViewScreen form button,
#homeScreen ul li:last-child button,
#goalsViewScreen > div.km-content.km-widget.km-scroll-wrapper > div.km-scroll-container > div:nth-child(1) > button,
#spendingViewScreen > div.km-content.km-widget.km-scroll-wrapper > div.km-scroll-container > div:nth-child(2) > button
{
    background-color: #c0392b;
    color: #ffffff;
    width: 100%;
}

#home-list > li:nth-child(4) > span {
    display: none;
}

#loginViewScreen a {
    display: block;
    text-align: center;
    margin: 1.5em;
}

#goalsViewScreen li a,
#spendingViewScreen li a,
#homeScreen li button {
    border-style: none;
    padding-left: 25px;
    padding-right: 25px;
}

div[data-role="view"] header #leftNavBarBtn {
    top: 0;
    position: absolute;
    left: 0;
}

div#homeScreen a[data-role="button"] {
    display: block;
    text-align: center;
    margin: 1.5em;
}

.km-spending-e:after, .km-spending-e:before {
    content: "\e077";
}

.km-goals-e:after, .km-goals-e:before {
    content: "\e047";
}
.km-stats-e:after, .km-stats-e:before {
    content: "\e04d";
}
.km-logout-e:after, .km-logout-e:before {
    content: "\e0b2";
}
.km-search-e:after, .km-search-e:before{
    content: "\e07f";
}

.spending-list-right{
    float: right;
}

div[data-role="view"] header #leftNavBarBtn{
    top: 0px;
    position: absolute;
    left: 0;
}

.centerSelect {
    display: block;
    margin: 0 auto;
}

/* New Css from Matthew */
.km-back-e:after, .km-back-e:before{
    content: "\e317";
    transform: rotate(180deg);
}
.km-forward-e:after, .km-forward-e:before{
    content: "\e317";
}

#displayed-spending-title{
    padding-top: 2.5%;
    text-align: center;
    font-size: 32px;
}
#displayed-spending-amount{
    text-align: center;
    font-size: 64px;
}
#dataLapseSelectDiv{
    text-align: center;
}
#displayed-spending-type{
    display: inline-block;
    width: 33%;
}